.nav {
  background-color: #483bbb !important;
}

.badge-dark {
  color: black;
  background-color: white;
}
.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #007bff;
}

/* , .sidemenu .nav-item a */

.nav a {
  color: white;
}

.sidemenu .nav-item a {
  font-size: small;
}

/* .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0 !important;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
} */

.nav-link {
  color: white;
}

caption {
  caption-side: top;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.react-autosuggest__input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

ul {
  list-style-type: none;
}

.timer-div {
  max-width: 200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: #f0f8ff;
}

.time-num {
  font-size: 40px;
  line-height: 1;
  color: black;
}

.time-num, .time-txt {
  display: block;
  margin-right: 5px;
}

.dots {
  font-size: 40px;
  line-height: 1.2;
  color: black;
}

.dots, .min-time, .sec-time {
  display: inline-block;
}
.btn-sm{
    height: 60px;
    width: 80px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 5px;
}